@page "/"

@using Microsoft.AspNetCore.SignalR.Client
@using BlazorWasmChat.Shared;

@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage

@inject HttpClient Http
@inject NavigationManager NavigationManager

@implements IAsyncDisposable

<PageTitle>Чат</PageTitle>

<div class="container">

    <div class="sidebar">
        <div style="background-color:whitesmoke;">
            <AuthorizeView>
                <Authorized>
                    <label>Ваше имя:
                        <input value="@context?.User?.Identity?.Name" style="width: 280px;" readonly="true" />
                    </label>
                    <p/><button @onclick="Logout" >Выйти</button>
                </Authorized>
                <NotAuthorized>
                    Пожалуйста, <a href="/login">авторизуйтесь</a>
                </NotAuthorized>
            </AuthorizeView>

            @if (rooms is not null)
            {
                <p></p><label>Комнаты:
                    <select @bind="@roomId" size="10" style="width: 280px;">
                        @foreach (var room in rooms)
                        {
                            <option>@room.Name</option>
                        }
                    </select>
                </label>
            }
            else
            {
                <p>Загрузка списка комнат, подождите...</p>
            }
        </div>
    </div>


    <div class="main">
        <h2>@(roomId ?? "Выберите комнату")</h2>
        <div>
            <form action="javascript:void()">
            <label>Сообщение:
                <br><input @bind="messageText" style="width: 480px;" />
            </label>
            <input type="submit" @onclick="Send" hidden />
            </form>
        </div>

        <div>
            @foreach (var message in messages
                .Where(x => x.RoomId == roomId)
                .TakeLast(maxMessages))
            {
                <div class="message-time">@message.Issued</div>
                <div class="message-text">@message</div>
            }
        </div>
    </div>

</div>




@code {
    private readonly int maxMessages = 10;

    private HubConnection? hubConnection;
    private System.Threading.Timer? timer;

    private List<ChatMessage> messages = new List<ChatMessage>();
    private ChatRoom[]? rooms;

    private string? userName;
    private string? messageText;
    private string? roomId;

    protected override async Task OnInitializedAsync()
    {
        var token = await LocalStorage.GetItemAsStringAsync("token");

        await startHubConnection(token);

        var timerLocked = false;

        timer = new System.Threading.Timer(async (object? stateInfo) =>
        {
        // Простейший механизм блокировки повторного входа в процедуру
        if (timerLocked)
            {
                return;
            }
            timerLocked = true;

            try
            {
                rooms = await Http.GetFromJsonAsync<ChatRoom[]>("/api/chatrooms");

                StateHasChanged();
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }

            timerLocked = false;
        }, null, 2000, 5000);
    }

    private async Task startHubConnection(string? token)
    {
        // Создать подключение SignalR
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"), options =>
            {
                options.AccessTokenProvider = () => Task.FromResult(token);
            })
            .WithAutomaticReconnect()
            .Build();

        // Добавить обработчик входящего сообщения
        hubConnection.On<ChatMessage>("ReceiveMessage", (message) =>
        {
            messages.Add(message);

            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    private async Task Send()
    {
        var auth = await AuthStateProvider.GetAuthenticationStateAsync();
        var userName = auth?.User?.Identity?.Name;

        // Проверка заполнения полей формы перед отправкой
        if (userName is null || userName.Length == 0)
        {
            return;
        }

        if (messageText is null || messageText.Length == 0)
        {
            return;
        }

        if (roomId is null)
        {
            return;
        }

        // Проверка подключения к hub
        if (hubConnection is null ||
            hubConnection.ConnectionId is null)
        {
            return;
        }

        // Подготовить и отправить новое сообщение
        var message = new ChatMessage
        {
            FromUser = userName,
            RoomId = roomId,
            Text = messageText
        };

        messageText = string.Empty;

        // Вызвать метод SendMessage на сервере
        await hubConnection.SendAsync("SendMessage", message);
    }

    async Task Logout()
    {
        // 1. Удалить токен авторизации из хранилища
        await LocalStorage.RemoveItemAsync("token");

        // 2. Обновить состояние авторизации
        await AuthStateProvider.GetAuthenticationStateAsync();

        // 3. Перезапустить соединение SignalR с пустым токеном
        await hubConnection!.DisposeAsync();
        await startHubConnection("");

        // 4. Перейти на главную страницу
        NavigationManager.NavigateTo("/");
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}